<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">

	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

	<link href="../static/index.css" rel="stylesheet">
	<title>U8G2 Font Tools</title>
	<!-- Favicons -->
	<link rel="icon" href="../static/fonts.svg" type="image/svg">

</head>
<body class="text-center">

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<div class="container">
	<main class="form-font">
		<h1 class="h3 mb-3 fw-normal">U8G2 Font Tools</h1>

		{% if message %}
			<p>{{message}}</p>
		{% endif %}
		<form action="{{ url_for('download') }}" method="POST">
			<div class="form-floating">
				<input type="text" class="form-control" id="fontNameInput" name="font_name"
				       placeholder="u8g2_xx_xxx_x_font" required>
				<label for="fontNameInput">Your Font Name</label>
			</div>
			<div class="form-floating" style="padding-bottom:2px">
				<input type="text" class="form-control" id="textInput" name="text" placeholder="Text" required>
				<label for="textInput">Text</label>
			</div>
			<div class="form-floating">
				<select class="form-select" id="fontSelect" name=font" aria-label="TTF Font Name" required>
					{% for name in fonts %}
						<option {% if loop.first %}selected{% endif %} value="{{ name }}">{{ name }}</option>
					{% endfor %}
				</select>
				<label for="fontSelect">Select Font(TTF)</label>
			</div>
			
			<div class="form-floating">
				<input type="number" class="form-control" id="sizeInput" name="size" placeholder="Size" required>
				<label for="sizeInput">Size</label>
			</div>
			<div style="padding-bottom: 10px"></div>

			<button class="w-100 btn btn-lg btn-primary" formtarget="_blank" type="submit"> submit</button>

		</form>
	</main>
</div>


</body>
</html>